@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

body {}

/* Carousel CSS */
.slider img {
    border-radius: 5px;
    width: 100vw;
}

.slider {}

.slider::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(29, 29, 29, 0.6);
    color: #ffffff;
}

.captions {
    position: absolute;
    min-width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    z-index: 20;
}

.courses img {
    width: 150px;
    background-position: center;
}